In [2]:
import pandas as pd
print(pd.__name__)

pandas

In [5]:
countries = pd.Series(
    data = ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'],
    name = 'countries'
)
display(countries)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

In [6]:
countries = pd.Series({
    'UK': 'Англия',
    'CA': 'Канада',
    'US' : 'США',
    'RU': 'Россия',
    'UA': 'Украина',
    'BY': 'Беларусь',
    'KZ': 'Казахстан'},
    name = 'countries'
)
display(countries)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

In [28]:
def create_medications(names, counts):
    a = names
    b = counts
    medications = pd.Series(
    data = b,
    index = a,)
    return medications

def get_percent(medications, name):
    i = medications[name]/(sum(medications[:])/100)
    return i


names =['chlorhexidine', 'cyntomycin', 'afobazol']
counts=[15, 18, 7]
create_medications(names, counts)
print(get_percent(name = 'cyntomycin', medications = create_medications(['chlorhexidine', 'cyntomycin', 'afobazol'],[26, 18, 7])))

35.294117647058826

Самый простой способ создания DataFrame — из словаря, ключами которого являются имена столбцов будущей таблицы, а значениями — списки, в которых хранится содержимое этих столбцов:

In [10]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

display(countries_df)
print(countries_df[['population', 'square']].mean(axis=0))

     country  population    square
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

population    9.070000e+01
square        5.800860e+06
dtype: float64

Также DataFrame можно создать из вложенного списка, внутренние списки которого будут являться строками новой таблицы:

In [12]:
countries_df = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'square'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)
print(countries_df[['population', 'square']].mean(axis=1))

UK      66726.145
CA    4992354.025
US    4913476.140
RU    8562668.620
UA     301836.750
BY     103804.750
KZ    1362459.520
dtype: float64

Можно обратиться к DataFrame по имени столбца через точку:

In [13]:
countries_df.population

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

Другой вариант — обратиться к DataFrame по индексу и указать имя столбца:

In [14]:
countries_df['population']

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

Для того чтобы получить доступ к ячейкам таблицы, используются уже знакомые нам loc и iloc.

При этом, в соответствии с механизмом работы axis, при обращении к DataFrame по индексам с помощью loc (iloc) первым индексом указывается индекс (порядковый номер), соответствующий строкам, а вторым — имя (порядковый номер) столбца.

1
Получим площадь Великобритании:

In [15]:
countries_df.loc['UK', 'square']

133396

2
Получим население и площадь, соответствующие России:

In [16]:
countries_df.loc['RU', ['population', 'square']]

population      146.24
square        17125191
Name: RU, dtype: object

Сделаем вырезку из таблицы и получим информацию о населении и площади, соответствующую Украине, Беларуси и Казахстану:

In [17]:
countries_df.loc[['UA', 'BY', 'KZ'],['population', 'square']]

    population   square
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902

Или:

In [18]:
countries_df.iloc[4:8, 1:3]

    population   square
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902

In [58]:
def create_companyDF(income, expenses, years): 
    finans_of_company = pd.DataFrame({
    'Income': income,
    'Expenses' : expenses},
    index = years)
    return finans_of_company

income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]


display(create_companyDF(income,expenses,years))

      Income  Expenses
2018     478       156
2019     512       130
2020     196       270

In [57]:
def get_profit(df, year):
    if year not in df.index:
        return None
    income = df.loc[year, 'income']
    expenses = df.loc[year, 'expenses']
    profit = income - expenses
    return profit
    
year = 2018
df = create_companyDF([612, 516, 329, 158], [136,163,250,361], [2017,2018,2019,2020])

print(get_profit(df, year))

353